Battle of Blades.xcodeproj/project.xcworkspace/xcuserdata/chasegosingtian.xcuserdatad/WorkspaceSettings.xcsettings
Battle of Blades.xcodeproj/xcuserdata/chasegosingtian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Battle of Blades.xcodeproj/xcuserdata/chasegosingtian.xcuserdatad/xcschemes/Battle of Blades.xcscheme
Battle of Blades.xcodeproj/xcuserdata/chasegosingtian.xcuserdatad/xcschemes/xcschememanagement.plist
